.item-index-box{
  text-align : center;
  h1{

  }
  .search-content{
    .item-search__query{

    }
  }
  .items-box{
    text-align : left;
    margin-top : 50px;
    .item-box{
      display : inline-block;
      text-align : center;
      margin : 10px 1.5%;
      width : 16.5%;
      height : 300px;
      .item-image-box{
        img{
          width : 180px;
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }
}