.items-new-box{
  h1{
    text-align: center;
    margin : 50px 0px;
  }
  .item-field{
    text-align: center;
    padding : 0 160px;
    position : relative;
    margin-top : 70px;
  }
  .field-box{
    border-bottom : solid 1px rgb(173, 173, 173);
    text-align : left;
    .label-box{
      display : inline-block;
      width : 250px;
      text-align : center;
      border-bottom : solid 1px rgb(143, 35, 35);
      p {
        font-size : 18px;
        font-weight : 600;
        font-family: serif;
      }
    }
    .textarea-label{
      height : 190px;
      p {
        margin : 0px;
        height : 190px;
        line-height: 190px;
        vertical-align :center;
      }
    }
    input {
      width : 350px;
      margin-left : 80px;
    }
    input:focus{
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
      outline : solid 2px #666;
    }
    textarea {
      width : 350px;
      height : 150px;
      margin-top : 20px;
      margin-bottom : 20px;
      margin-left : 80px;
    }
    textarea:focus{
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
      outline : solid 2px #666;
    }
    .field_with_errors{
      display : inline-block;
      color : red;
      font-family : serif;
    }
  }
  .create-button{
    margin-top : 30px;
    input {
      color : white;
      padding : 8px 100px;
      background-color : black;
      display : inline-block;
      font-size: 15px;
    }
  }
}